:root {
    background-color:#fff;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
    font-family: "Noto Color Emoji", arial, sans-serif;
}

.header {
    display: flex;
    text-align: center;
    font-size: 36px;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.vs {
    display: flex;
    text-align: center;
    font-size: 36px;
    height: 15vh;
    align-items: center;
    justify-content: center;
}


.button-area {
    display: flex;
    justify-content: space-around;
}


button {
    font-size: 50px;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: outset;
    border-radius: 20px;
    border-width: 5px;
    background-color:hsl(0 0% 98%);
}

#rock:hover {
    transform: scale(1.1) rotate(8deg);
    transition: 110ms;
    background-color:hsl(0 0% 93%)
}

#paper:hover {
    transform: scale(1.1) rotate(-6deg);
    transition: 110ms;
    background-color:hsl(0 0% 93%)
}

#scissors:hover {
    transform: scale(1.1) rotate(4deg);
    transition: 110ms;
    background-color:hsl(0 0% 93%)
}


.outcome-area {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
}

.player-choice {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    gap: 20px;
    color: #000;
}

.computer-choice {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    gap: 20px;
    color: #000;
}

#player-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    min-height: 40vw;
    border-radius: 50px;
    border-width: 8px;
    border-style: outset;
}

#computer-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    min-height: 40vw;
    border-radius: 50px;
    border-width: 8px;
    border-style: outset;
}


